header {
    width: 100%;
    height: 90px;
    background-color: transparent;
    position: absolute;
    padding: 0 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    justify-content: space-around;
    top: 0;
    z-index: 5;
}
header.full{
    box-shadow: 0 0 15px lightgray;
    background-color: white;
    animation: 0.3s dropHeader ease forwards;
    transition: 0s;
    height: 70px;
}
header.full.noShadow{box-shadow: none; border-bottom: 1px solid black;}
@keyframes dropHeader{
    0%{
        position: fixed;
        top: -100px;
    }
    100%{
        top: 0;
        position: fixed;
    }
}
header.outScene{
    box-shadow: 0 0 15px lightgray;
    background-color: white;
    animation: 0.2s outScene ease-out forwards;
}
@keyframes outScene{
    0% {
        position: fixed;
        top: 0;
    }
    100%{
        position: fixed;
        top: -100px;
    }
}

#profile_icon .buttonIcon{margin-right: 5px;}

#logo {
    font-family: Montserrat;
    font-style: italic;
    font-size: 42px;
    margin-left: 20px;
    color: white;
    user-select: none;
    cursor: pointer;
}
header.full #logo{color: black}
header .buttons, header #categories{
    display: inline-flex;
    height: 60px;
}
header button .buttonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}
header #user_buttons{
    position: relative;
    /* margin-left: 20px; */
    padding-left: 20px;
    display: inline-flex;
    align-items: center;
}
/* header #user_buttons::before{
    content: '';
    width: 1px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 15px;
    left: 0;
}
header.full #user_buttons::before{
    background-color: lightgray;
} */
header button {
    background-color: transparent;
    border: 2px solid transparent;
    /* padding: 0 30px; */
    height: auto; width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 16px;
    margin: 0 20px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
header button:hover{color: white;}
header button:hover .buttonIcon svg{fill: white; stroke: white;}
header.full button {color: black;}
header button .buttonIcon {
    font-size: 22px;
    /* margin-right: 10px; */
}
header button .buttonIcon svg{
    fill: rgba(255, 255, 255, 0.5);
    stroke: rgba(255, 255, 255, 0.5);
}
header.full button svg{
    stroke: black;
}
header.full button .fillIcon svg {
    fill: black;
}
header.full button:hover{
    color: darkorange;
}
header.full button:hover svg {
    stroke: darkorange;
}
header.full button:hover .fillIcon svg{
    fill: darkorange;
}